button(type='button' class='btn btn-primary' data-toggle='modal' data-target='#loginModal') Log in

div(class='modal fade' id='loginModal' tabindex='-1' role='dialog' aria-labelledby='modalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#modalLabel.modal-title Login
        button(type='button' class='close' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form#loginForm(role='form' method='POST' action='login')
          .form-group
            label(for='username') Username
            input#username.form-control(type='text', placeholder='Username' name='username')
            .form-group
              label(for='username') Password
              input#password.form-control(type='password', placeholder='Password' name='password')
          .modal-footer
            button(type='button' class='btn btn-primary' data-dismiss='modal') Cancel
            button(type='submit' class='btn btn-primary') Login
