button(type='button' class='btn btn-primary' data-toggle='modal' data-target='#taskFormModal') Add task

div(class='modal fade' id='taskFormModal' tabindex='-1' role='dialog' aria-labelledby='modalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#modalLabel.modal-title New task
        button(type='button' class='close' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
      form#taskForm(role='form' method='POST')
        .form-group
          label(for='title') Title:
          input#title.form-control(type='text', placeholder='Title' name='title')
        .modal-footer
          button(type='button' class='btn btn-primary' data-dismiss='modal') Cancel
          button(type='submit' class='btn btn-primary') Save
